In [36]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

df=pd.read_excel(open('List of Stocks case study (1).xlsx', 'rb'),sheet_name='Sheet2',engine = 'openpyxl')

In [37]:
df=df.iloc[:,1]

In [38]:
symbols = df.tolist()

In [39]:
import pandas_datareader.data as web

### here you check the data for individual symbol

In [44]:
df2 = web.DataReader('ACC'+'.ns', 'yahoo', start='2021-05-01', end='2021-08-31')

In [45]:
df2.head()

                   High          Low    Open        Close  Volume    Adj Close
Date
2021-05-03  1904.900024  1853.199951  1860.0  1898.000000  501054  1898.000000
2021-05-04  1915.000000  1866.000000  1912.0  1869.000000  478133  1869.000000
2021-05-05  1897.949951  1870.099976  1875.0  1888.550049  381806  1888.550049
2021-05-06  1908.500000  1877.199951  1895.0  1896.250000  292905  1896.250000
2021-05-07  1928.900024  1896.050049  1903.0  1904.750000  641334  1904.750000

In [47]:
df2[['Close']].head()

                  Close
Date
2021-05-03  1898.000000
2021-05-04  1869.000000
2021-05-05  1888.550049
2021-05-06  1896.250000
2021-05-07  1904.750000

In [40]:
import pandas as pd

In [41]:
import datetime as dt

In [42]:
symbols[0:4]

['ACC       ', 'ADANIPORTS', 'ADANIENT  ', 'ADANIPOWER']

### i had converted the series of data frame to list and i am looping over though it (i had use yahoo finace to get the data) and atlast i am save to csv file format of closing price

In [43]:
for i in symbols[0:5]:
    print(i)
    df1 = web.DataReader(i.strip()+'.ns', 'yahoo', start='2021-05-01', end='2021-08-31')
    df1=df1[['Close']]
    
    df1.to_csv(i, sep='\t')

ACC
ADANIPORTS
ADANIENT
ADANIPOWER
AMBUJACEM